---
---
.doc-section-title{
    display: block;
    font-size: 21px;

}

body{
    background: white;
}

#sidebar-container{
    border-right: 1px solid #e3e3e3;
}
.footer-principal{
    border-top: 1px solid #e3e3e3;
}

@import '_left-nav';
@import '_layout';



